New Game

<%= form_for(:game, :url => {:controller => 'games', :action => 'create'}) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <%= f.submit "Create" %>
<% end %>