<div class="map-wrapper">
<% @game.planets.each do |planet| %>
  <div class="map-planet" style="position: absolute; left: <%= planet.x_coord*2.5 %>px; bottom: <%= planet.y_coord*2.5 %>px; ">
    <div class="planet-graphic" style="width: 25px; height: 25px; background-color: white; margin: 0 auto; border-radius: 1em;"></div>
    <br>
    <div class="planet-link"><%= link_to planet.name, game_planet_path(@game, planet), style: "color: white; text-decoration: none" %></div>
  </div>
<% end %>
</div>

<script>
  var planet = new Planet.Universal;
</script>